<h2 id='title'>Welcome to Ember.js</h2>
<ul>
  <li>{{#link-to 'index'}} Home {{/link-to}}</li>
  <li>{{#link-to 'foo'}} foo {{/link-to}}</li>
  <li>{{#link-to 'bar'}} bar {{/link-to}}</li>
</ul>

{{outlet}}
